/* Unfortunately we have to correct the layout of the accelerator B2C */
.newsletter-section .checkbox .newsletter-agreement-label {
    padding-left: 20px;
}

.newsletter-section .newsletter-agreement-input {
    margin-bottom: 5px;
    margin-right: 5px;
}
